<!-- <div class="flex justify-center items-center h-screen">
    <div class="card">
      <div class="card-header">
        <h2>Login</h2>
      </div>
      <div class="card-content">
        <label for="username">Username</label>
        <input id="username" type="text" [(ngModel)]="username" placeholder="Enter your username" />
  
        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="password" placeholder="Enter your password" />
      </div>
      <div class="card-footer">
        <button (click)="handleLogin()">Login</button>
      </div>
    </div>
  </div>
   -->
<div class="login-page">
  <div class="flex">
    <div class="card">
      <div class="card-header">
        <h2>Login</h2>
      </div>
      <div class="card-content">
        <label for="username">Username</label>
        <input id="username" type="text" [(ngModel)]="username" placeholder="Enter your username" />

        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="password" placeholder="Enter your password" />
        <!-- Show login error message here if it exists -->
        <div *ngIf="loginError" class="error-message">
          {{ loginError }}
        </div>
      </div>
      <div class="card-footer">
        <button (click)="handleLogin()">Login</button>
        <p class="toggle-text">
          Don't have an account?
          <a [routerLink]="'/register'">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
