<!-- <p>ready-orders-display works!</p> -->
<!-- <div class="display-board">
    <div class="header">READY ORDERS</div>
    <div class="divider"></div>
    <div class="orders-grid">
      <div class="order-box" *ngFor="let order of visibleOrders">
        {{ order }}
      </div>
    </div>
  </div>
   -->


   <div class="display-board">
    <div class="header">READY ORDERS</div>
  
    <div class="orders-container">
      <div class="orders-grid">
        <div class="order-box" *ngFor="let order of visibleOrders">
          {{ order }}
        </div>
      </div>
    </div>
  </div>
  