

//   .order-popup-overlay
.overlay-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .popup {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    // width: 550px;
    width: 700px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    
  display: flex;
  flex-direction: column;
  }
  